<%- include('../../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    
</head>

<body>
   <%- include('../../includes/navigation.ejs') %>

    <main>
        <form class="product-form" action="/admin/<% if (editing) { %>edit-comics<% } else { %>add-comics<% } %>" method="POST">
            <div class="form-control">
                <label for="title">Titre</label>
                <input type="text" name="name" id=name value="<% if (editing) { %><%= product.title %><% } %>">
            </div>
            <div class="form-control">
                    <label for="Hero">Heroe</label>
            <select name="category">
                    <optgroup label="Select an Heroes">
        
                            <% categories.forEach(function(row){ %>
                            <option value="<%= row.id %>"><%= row.name %></option>
                            <% }) %>
                        </optgroup>
             </select>
            </div>
            <div class="form-control">
                    <label for="Month">Month</label>
            <select name="Month">
                    <optgroup label="Select an Heroes">
                            <% months.forEach(function(row){ %>
                            <option value="<%= row.id %>"><%= row.name %></option>
                            <% }) %>
                        </optgroup>
             </select>
            </div>
         
            <!--
            <div class="form-control">
                <label for="imageUrl">Image URL</label>
                <input type="text" name="imageUrl" id="imageUrl" value="<% if (editing) { %><%= product.imageUrl %><% } %>">
            </div>
            
            <% if (editing) { %>
                <input type="hidden" value="<%= book.id %>" name="bookId">
            <% } %>
            -->

            <button class="btn" type="submit"><% if (editing) { %>Update Comics<% } else { %>Add Comics<% } %></button>
        </form>
    </main>
<%- include('../../includes/end.ejs') %>